= currentRecord.startUtc.localtime.strftime('%l:%M %P')
- if !currentRecord.duration.nil?
  = currentRecord.duration.strftime('%-H h %-M min %-S sec')
- else
  - currentDuration = Time.now.utc - currentRecord.startUtc
  - if !currentRecord.totalPausedDuration.nil?
    - currentDuration -= currentRecord.totalPausedDuration
  = Time.at(currentDuration).utc.strftime('%-H h %-M min %-S sec')
%input{ :name => 'task_id', :placeholder => 'Task Id', :autofocus => 'true' }
-# style = "width: 52px; text-align: right;"
%input{ :name => 'description', :placeholder => "Description" }
-# style = "width: 300px"
%input{ :type => 'submit', :value => 'Save' }
- if state == 3 # should stop
  %input{ :type => 'button', :value => 'Skip', :onclick => 'window.location="/skip"' }
or
%a{ :href => '/continue' } continue