%form{:action => "/logon", :method => "post"}
	.narrow-form
		%fieldset
			%legend
				%h2
					Log On
			%div
				%input{:type => "text", :name => "login", :placeholder => "Login"}
			%div
				%input{:type => "password", :name => "password", :placeholder => "Password"}
			%input{:type => "submit", :value => "Log On"}
			or
			%a{:href => "/register"} Register
