%fieldset
  %legend
    %h2
      Profile
  %form{:action => "/profile", :method => "post"}
    %table
      %tr
        %td
          Your name
        %td= user.name
      %tr
        %td
          Login
        %td= user.login
      %tr
        %td
          Email
        %td= user.email
      %tr
        %td
          Time zone
        %td
          %select#utc_offset{:name => 'utc_offset'}
            %option{:value => '+04:00'} +04:00
      %tr
        %td
          &nbsp;
      %tr
        %td
          %b Redmine settings
        %td
      %tr
        %td
          %label{:for => "redmineTimeEntriesUrl"} Time entries URL
        %td
          %input{:type => "url", :name => "redmineTimeEntriesUrl", :value => user.redmineTimeEntriesUrl, :class => 'wide-input'}
      %tr
        %td
          %label{:for => "redmineApiKey"} API key
        %td
          %input{:type => "text", :name => "redmineApiKey", :value => user.redmineApiKey, :class => 'wide-input'}
      %tr
        %td
          %label{:for => "redmineDefaultActivityId"} Default activity ID
        %td
          %input{:type => "text", :name => "redmineDefaultActivityId", :value => user.redmineDefaultActivityId, :class => 'narrow-input text-align-right'}
    %div
      &nbsp;
    %input{:type => "submit", :value => "Save"}
    or
    %a{:href => "/timelog"} back to timelog