%form{:action => "/register", :method => "post"}
	.narrow-form
		%fieldset
			%legend
				%h2
					New Account
			%div
				%input{:type => "text", :name => "username", :placeholder => "Your name"}
			%div
				%input{:type => "text", :name => "login", :placeholder => "Login"}
			%div
				%input{:type => "email", :name => "email", :placeholder => "Email"}
			%div
				%input{:type => "password", :name => "password", :placeholder => "Password"}
			%div
				%input{:type => "password", :name => "confirmPassword", :placeholder => "Confirm password"}
			%input{:type => "submit", :value => "Register"}
			or
			%a{:href => "/logon"} Log On		
