%form{:action => "/register", :method => "post"}
	.narrow-form
		%fieldset
			%legend
				%h2
					New Account	
			%div
				%input{:type => "text", :name => "UserName", :placeholder => "User name"}
			%div 
				%input{:type => "email", :name => "Email", :placeholder => "Email"}
			%div 
				%input{:type => "password", :name => "Password", :placeholder => "Password"}
			%div 
				%input{:type => "password", :name => "ConfirmPassword", :placeholder => "Confirm password"}
			%input{:type => "submit", :value => "Register"}
			or
			%a{:href => "/logon"} Log On
